@model CountryListViewModel
@{
    ViewData["Title"] = "Favorites";
}

<div class="text-center">
    <h2>My Favorites</h2>
    <form asp-action="Delete" method="post">
        <a asp-action="Index" asp-area="AssignmentModule7" asp-controller="Country" class="btn btn-primary"
           asp-route-activeGame="@Model.ActiveGame"
           asp-route-activeCat="@Model.ActiveCat">
            Back to Home Page
        </a>
        <button type="submit" class="btn btn-primary">
            Clear Favorites
        </button>
    </form>
    <br />
</div>


<div class="row">
    <div class="col-8 offset-2">
        <ul class="list-group">
            @foreach (Country country in Model.Countries)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="~/images/@country.FlagImage" alt="Flag Of @country.Name" title="Flag Of @country.Name" />
                        </div>
                        <div class="col-sm-4">
                            @country.Name | @country.Game.Name
                        </div>
                        <div class="col-sm-4">
                            @country.Category.Name
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>